<script>
    $(function () {
        $(".datepicker").datepicker({dateFormat: 'dd-mm-yy'});
    });
</script>

<section class="scrollable"> 
    <section class="scrollable-content">
        <div class="container" style="width: 100%;">
            <div class="specific-background">
                <h4>Choose Time</h4>

                <input style="width: 45%" type="text" 
                       class="datepicker" 
                       placeholder="Start Date" 
                       onfocus="this.placeholder = ''" 
                       onblur="this.placeholder = 'Start Date'" 
                       id="st_d"  ng-model="st_date" readonly> &nbsp;<b>-</b>&nbsp;
                <input style="width: 45%" type="text" 
                       class="datepicker" placeholder="End Date" 
                       onfocus="this.placeholder = ''" 
                       onblur="this.placeholder = 'End Date'" 
                       id="en_d"  ng-model="en_date" readonly>
                <br/><br/>
                
                <button style="width: 90%;" ng-click="sentiment_head(st_date)" class="btn btn-success"> Sentiment Head </button>
            </div>
        </div>
    </section>
</section>